* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* general styles */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* task-1 styles */

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: max-content;
  background-color: #f6f6fe;
  margin-bottom: 24px;
}

.categories-item {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  padding: 8px 0 8px 16px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.categories-item:last-child {
  margin-bottom: 0;
}

.categories-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* task-2 styles */

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 100px 156px;
}

.image {
  width: 360px;
  height: 300px;
}

/* task-3 styles */

.name {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.name-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task-4 styles */

/* .login-form {
  display: block;
} */

.form-field {
  display: block;
  margin-bottom: 8px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input {
  display: block;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: #000;
}

.form-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-btn {
  margin-top: 8px;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  text-align: center;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}

/* task-5 styles */

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.color-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.change-color {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}
